.container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(49, 48, 55, 0.1);
  margin-bottom: 64px;
}

.containerDark {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 64px;
}

.tab {
  width: 141px;
  text-align: center;
  padding-bottom: 24px;
  margin-right: 40px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #313037;
}

.activeDark {
  border-bottom: 2px solid #fff;
}